{% extends 'base.html' %}

{% block title %} Admin {% endblock %}

{% block content %}
    <h1>Admin Dashboard</h1>
    <div>
        {% if chart %}
            {% for row in chart %}
                {{ row }}<br>
            {% endfor %}
            Sales: ${{ sales }}
            Reservation List:
            {% for reservation in reservations %}
                <br>
                    {{ reservation.passengerName }}: 
                    Row {{ reservation.seatRow + 1 }} 
                    Seat {{ reservation.seatColumn + 1 }} 
                    - Ticket Confirmation: {{ reservation.eTicketNumber }}

                    <form method="post" action="{{ url_for('admin') }}" style ="display:inline;">
                        <input type="hidden" name="delete_reservation" value="{{ reservation.id }}">
                        <button type="submit">Delete Reservation</button>
                    </form>
                <br>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <form method="post" action="{{ url_for('admin') }}">
            <input type="hidden" name="login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}